In [1]:
%matplotlib notebook
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.datasets import make_blobs
from sklearn.model_selection import train_test_split

DataSet = pd.read_csv('DataSet_For_Assignment.txt', sep = '\t' ,decimal=',')

In [2]:
# We splitted our train set from the all data set including test data.
DataSet.iloc[: 1000 , : ]

,Unnamed: 0,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,Y
0,1,-1.304479,0.893299,0.004174,0.838228,2.275087,1.051389,-1.445271,-1.204672,1.060063,-2.078716,0.0
1,2,0.192248,-1.375891,-1.950357,0.515301,2.304900,-1.555468,1.182440,0.293515,0.325293,1.194239,0.0
2,3,0.914410,-0.773929,-2.360937,-0.535586,-2.729650,2.125314,2.656328,0.613083,-1.324821,0.606743,1.0
3,4,-0.083261,-0.939008,0.501041,2.079054,-0.652789,0.854744,-0.236657,-0.730844,-1.213176,0.311913,1.0
4,5,1.444027,1.102958,1.478792,-0.394127,-1.538776,3.553901,-1.190602,0.699575,1.069579,1.486135,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,0.458720,-0.696886,-0.096505,0.499040,0.793902,-0.045804,0.745646,0.810379,0.632985,-0.415158,0.0
996,997,0.582524,0.649187,1.058842,0.563270,-0.699286,0.739002,-0.789959,-0.748531,0.275950,1.226278,1.0
997,998,-0.098154,-0.934674,-0.756948,0.086111,0.973741,2.240403,0.151647,-0.095265,-0.345404,-1.717909,1.0
998,999,-0.392780,0.326261,-0.709264,0.424083,3.170830,-1.002890,0.378222,0.026581,-0.626405,-2.146543,0.0
999,1000,-0.753698,0.690519,-1.185875,0.363108,-1.798350,-0.115386,-0.965843,-0.909834,-0.054636,1.621389,1.0

In [3]:
DataSet1 = DataSet.iloc[: 1000 , : ]

# MODEL 1

In [4]:
# All features are taken into account in MODEL1.
X = DataSet1[['X1','X2', 'X3','X4','X5','X6','X7','X8','X9','X10']]
X.head()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10
0,-1.304479,0.893299,0.004174,0.838228,2.275087,1.051389,-1.445271,-1.204672,1.060063,-2.078716
1,0.192248,-1.375891,-1.950357,0.515301,2.304900,-1.555468,1.182440,0.293515,0.325293,1.194239
2,0.914410,-0.773929,-2.360937,-0.535586,-2.729650,2.125314,2.656328,0.613083,-1.324821,0.606743
3,-0.083261,-0.939008,0.501041,2.079054,-0.652789,0.854744,-0.236657,-0.730844,-1.213176,0.311913
4,1.444027,1.102958,1.478792,-0.394127,-1.538776,3.553901,-1.190602,0.699575,1.069579,1.486135

In [5]:
y = DataSet1['Y']
y.head()

0    0.0
1    0.0
2    1.0
3    1.0
4    1.0
Name: Y, dtype: float64

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

In [7]:
# Just looking at the closest point while k is equal to 1.
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier(n_neighbors = 1)

In [8]:
knn.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=1)

In [9]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0,
                                                    test_size=0.30)

In [10]:
from sklearn.neighbors import KNeighborsClassifier

In [11]:
knn.fit(X_train,y_train)

KNeighborsClassifier(n_neighbors=1)

In [12]:
# k=1 ---> overfitting 
print(knn.score(X_train, y_train),knn.score(X_test, y_test))

1.0 0.6033333333333334

# MODEL 2

In [13]:
# Following features are taken into account in MODEL 2.
X2 = DataSet1[['X1','X2', 'X3','X4','X5','X6']]
X2.head()

         X1        X2        X3        X4        X5        X6
0 -1.304479  0.893299  0.004174  0.838228  2.275087  1.051389
1  0.192248 -1.375891 -1.950357  0.515301  2.304900 -1.555468
2  0.914410 -0.773929 -2.360937 -0.535586 -2.729650  2.125314
3 -0.083261 -0.939008  0.501041  2.079054 -0.652789  0.854744
4  1.444027  1.102958  1.478792 -0.394127 -1.538776  3.553901

In [14]:
y = DataSet1['Y']
y.head()

0    0.0
1    0.0
2    1.0
3    1.0
4    1.0
Name: Y, dtype: float64

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X2, y, random_state=0)

In [16]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier(n_neighbors = 5)

In [17]:
knn.fit(X_train, y_train)

KNeighborsClassifier()

In [18]:
print(knn.score(X_train, y_train),knn.score(X_test, y_test))

0.732 0.6

# MODEL 3

In [19]:
# All features are taken into account in MODEL1.
X3 = DataSet1[['X1','X2', 'X3','X4','X5','X6','X7','X8','X9','X10']]
X3.head()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10
0,-1.304479,0.893299,0.004174,0.838228,2.275087,1.051389,-1.445271,-1.204672,1.060063,-2.078716
1,0.192248,-1.375891,-1.950357,0.515301,2.304900,-1.555468,1.182440,0.293515,0.325293,1.194239
2,0.914410,-0.773929,-2.360937,-0.535586,-2.729650,2.125314,2.656328,0.613083,-1.324821,0.606743
3,-0.083261,-0.939008,0.501041,2.079054,-0.652789,0.854744,-0.236657,-0.730844,-1.213176,0.311913
4,1.444027,1.102958,1.478792,-0.394127,-1.538776,3.553901,-1.190602,0.699575,1.069579,1.486135

In [20]:
y = DataSet1['Y']
y.head()

0    0.0
1    0.0
2    1.0
3    1.0
4    1.0
Name: Y, dtype: float64

In [21]:
X_train, X_test, y_train, y_test = train_test_split(X3, y, random_state=0)

In [22]:
from sklearn.neighbors import KNeighborsClassifier
# High k value is choosen
knn = KNeighborsClassifier(n_neighbors = 30)

In [23]:
knn.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=30)

In [24]:
print(knn.score(X_train, y_train),knn.score(X_test, y_test))

0.72 0.704

# Model 4

In [25]:
# Following features are taken into account in MODEL 4.
X4 = DataSet1[['X1','X2', 'X3','X4','X5','X6']]
X4.head()

         X1        X2        X3        X4        X5        X6
0 -1.304479  0.893299  0.004174  0.838228  2.275087  1.051389
1  0.192248 -1.375891 -1.950357  0.515301  2.304900 -1.555468
2  0.914410 -0.773929 -2.360937 -0.535586 -2.729650  2.125314
3 -0.083261 -0.939008  0.501041  2.079054 -0.652789  0.854744
4  1.444027  1.102958  1.478792 -0.394127 -1.538776  3.553901

In [26]:
y = DataSet1['Y']
y.head()

0    0.0
1    0.0
2    1.0
3    1.0
4    1.0
Name: Y, dtype: float64

In [27]:
X_train, X_test, y_train, y_test = train_test_split(X4, y, random_state=0)

In [28]:
from sklearn.neighbors import KNeighborsClassifier
# Pretty much high k value is choosen
knn = KNeighborsClassifier(n_neighbors = 700)

In [29]:
knn.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=700)

In [30]:
print(knn.score(X_train, y_train),knn.score(X_test, y_test))

0.5613333333333334 0.596

# MODEL 5

In [31]:
# All features are taken into account in MODEL 5.
X5 = DataSet1[['X1','X2', 'X3','X4','X5','X6','X7','X8','X9','X10']]
X5.head()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10
0,-1.304479,0.893299,0.004174,0.838228,2.275087,1.051389,-1.445271,-1.204672,1.060063,-2.078716
1,0.192248,-1.375891,-1.950357,0.515301,2.304900,-1.555468,1.182440,0.293515,0.325293,1.194239
2,0.914410,-0.773929,-2.360937,-0.535586,-2.729650,2.125314,2.656328,0.613083,-1.324821,0.606743
3,-0.083261,-0.939008,0.501041,2.079054,-0.652789,0.854744,-0.236657,-0.730844,-1.213176,0.311913
4,1.444027,1.102958,1.478792,-0.394127,-1.538776,3.553901,-1.190602,0.699575,1.069579,1.486135

In [32]:
print(X5)

           X1        X2        X3        X4        X5        X6        X7  \
0   -1.304479  0.893299  0.004174  0.838228  2.275087  1.051389 -1.445271
1    0.192248 -1.375891 -1.950357  0.515301  2.304900 -1.555468  1.182440
2    0.914410 -0.773929 -2.360937 -0.535586 -2.729650  2.125314  2.656328
3   -0.083261 -0.939008  0.501041  2.079054 -0.652789  0.854744 -0.236657
4    1.444027  1.102958  1.478792 -0.394127 -1.538776  3.553901 -1.190602
..        ...       ...       ...       ...       ...       ...       ...
995  0.458720 -0.696886 -0.096505  0.499040  0.793902 -0.045804  0.745646
996  0.582524  0.649187  1.058842  0.563270 -0.699286  0.739002 -0.789959
997 -0.098154 -0.934674 -0.756948  0.086111  0.973741  2.240403  0.151647
998 -0.392780  0.326261 -0.709264  0.424083  3.170830 -1.002890  0.378222
999 -0.753698  0.690519 -1.185875  0.363108 -1.798350 -0.115386 -0.965843

           X8        X9       X10
0   -1.204672  1.060063 -2.078716
1    0.293515  0.325293  1.194239
2    0.613083 -1.324821  0.606743
3   -0.730844 -1.213176  0.311913
4    0.699575  1.069579  1.486135
..        ...       ...       ...
995  0.810379  0.632985 -0.415158
996 -0.748531  0.275950  1.226278
997 -0.095265 -0.345404 -1.717909
998  0.026581 -0.626405 -2.146543
999 -0.909834 -0.054636  1.621389

[1000 rows x 10 columns]

In [33]:
y = DataSet1['Y']
y.head()

0    0.0
1    0.0
2    1.0
3    1.0
4    1.0
Name: Y, dtype: float64

In [34]:
X_train, X_test, y_train, y_test = train_test_split(X5, y, random_state=0)

In [35]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier(n_neighbors = 5)

In [36]:
knn.fit(X_train, y_train)

KNeighborsClassifier()

In [37]:
print(knn.score(X_train, y_train),knn.score(X_test, y_test))

0.7573333333333333 0.692

In [38]:
# We select the 5th model since this model gives us the best train score.

# Prediction

In [39]:
# According to test set we tried to predict y values.
DataSet2 = DataSet.iloc[1000 : , : ]

In [40]:
X_Prediction = DataSet2[['X1','X2', 'X3','X4','X5','X6','X7','X8','X9','X10']]

In [41]:
print(X_Prediction)

            X1        X2        X3        X4        X5        X6        X7  \
1000  1.854243 -0.078425 -2.090437  2.184340  0.088056 -1.093213 -0.563775
1001  0.207726 -0.518698 -2.986479  0.136216 -1.650902  2.028340 -0.283361
1002 -1.345787 -0.020362  0.532323  0.933127 -2.312780  3.309761 -1.418036
1003  0.419527 -1.469835  0.611746  1.312737 -1.931846 -0.814779  0.243534
1004  1.132712 -1.270035  2.537856 -1.531807  1.352672  1.757937 -0.148902
...        ...       ...       ...       ...       ...       ...       ...
1095 -0.861903 -0.072287  3.832280  1.420406 -0.891558  2.168405 -2.235014
1096  0.794255  0.057944  1.697445 -0.944967  1.428967 -0.931759 -1.648163
1097  0.161319 -0.459021 -0.871331 -0.732429  3.070956 -1.446839  0.164837
1098 -0.382850  0.413561  2.142973  2.118727  2.123478  0.728736 -3.868151
1099 -1.948876  1.485588 -0.710873  1.713181 -1.842353  0.770522 -0.402867

            X8        X9       X10
1000 -1.065315 -0.890131  0.178358
1001 -1.535706  0.308848 -0.498566
1002  0.326152 -1.444867  1.624674
1003  1.088939  0.018016 -0.352842
1004  0.627829  1.301874 -0.365061
...        ...       ...       ...
1095 -2.633568 -0.983089  2.963437
1096  1.224257  1.453628 -2.741035
1097  2.107883  0.040308 -0.451266
1098  0.981317  0.868770 -1.455225
1099  0.417841 -0.063193  1.102112

[100 rows x 10 columns]

In [42]:
DataSet_prediction = knn.predict(X_Prediction)

In [43]:
print(DataSet_prediction)

[0. 1. 0. 0. 0. 0. 0. 0. 0. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1. 0. 0. 1.
 0. 1. 0. 0. 0. 0. 0. 1. 1. 0. 0. 1. 0. 1. 0. 1. 0. 0. 1. 1. 0. 1. 1. 0.
 0. 1. 0. 0. 0. 0. 0. 0. 1. 0. 1. 0. 0. 0. 0. 0. 1. 0. 0. 1. 0. 0. 1. 1.
 1. 1. 0. 1. 0. 1. 1. 0. 1. 0. 1. 0. 1. 1. 1. 0. 1. 1. 1. 1. 1. 0. 1. 1.
 0. 0. 0. 1.]